<plugin id="org.dita4publishers.common.html">
  <!-- This plugin provides common XSLT imports and 
       supporting code used by all D4P HTML transformation
       type extensions.
       
       In particular, it centralizes imports of library modules
       so that a given module is imported exactly once.
  -->
  <require plugin="org.dita-community.common.xslt"/> 
  <feature extension="package.support.name" value="Eliot Kimber"/>
  <feature extension="package.support.email" value="ekimber@contrext.com"/>
  <extension-point id="d4p.common.html.param" behavior="org.dita.dost.platform.InsertAction"/>
  
  <feature extension="d4p.common.html.param" value="parameters.xml" type="file" />

  
</plugin>